{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block title %}{% endblock title %}
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %} Hello, {{ user.username }}
        <a href="{% url 'logout' %}">Log Out</a>
        <a href="{% url 'home' %}">Receipts</a>
        <a href="{% url 'account_list' %}">Accounts</a>
        <a href="{% url 'category_list' %}">Categories</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'create_account' %}">Create Account</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
