<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup</title>
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %} Hello, {{ user.username }}
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <div>
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
  </body>
</html>
